---
import { slide, ViewTransitions } from "astro:transitions";
const pageTitle = "CV"
import Link from "../components/link.astro";
---

<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
		<link rel="manifest" href="/site.webmanifest">
		<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
		<meta name="msapplication-TileColor" content="#da532c">
		<meta name="theme-color" content="#ffffff">
        <link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Sacramento&display=swap" rel="stylesheet">
        <title>{pageTitle}</title>
        <ViewTransitions />
	</head>
    <body transition:animate="slide" class=" w-[80%] mx-auto md:max-w-xl my-10 md:mx-auto font-inter">
        
        <Link />
        <div class=" mt-12">
            <div class=" text-sm">
                <h2 class=" text-md font-bold">Louis Wanyika</h2>
                <p>Fullstack Web Developer.</p>
                <p>Contact: 0759397500</p>
                <p>Email: louisgituhi@gmail.com</p>
                <span>Kenya</span>
                <span class=" ml-5">Nairobi</span>
                <span class=" ml-5">EAT</span>
            </div>
        </div>

        <div class=" mt-10">
            <h2 class=" text-md font-bold">About</h2>
            <div class=" text-sm mt-4">
                <p>I mostly work with Javascript,Typescript, React, Nextjs, Astro, Nodejs, Bun, Hono, Express, Drizzle, Supabase and TailwindCSS.</p>
                <p>I have 2+ years of experince in web design and development.</p>
            </div>
        </div>

        <div class=" mt-10">
            <h2 class="text-md font-bold text-lg">Work Experience</h2>

            <div class=" mt-4">
                <span class="text-md font-semibold">Kingdombank Limited</span>
                <span class=" ml-4 text-neutral-500 text-sm">2024-Present</span>
                <h2 class=" text-sm">Intern Central Operations</h2>
                <p class=" text-sm mt-4">Am currently in the Operations Department doing 
                    Data Clean-up, Quality Assurance and Digitization.
                </p>
            </div>

            <div class=" mt-4">
                <span class="text-md font-semibold">Lui Digitals</span>
                <span class=" text-green-600 bg-green-100 p-1 rounded-lg text-sm">Remote</span>
                <span class=" ml-4 text-neutral-500 text-sm">2023-2024</span>
                <h2 class=" text-sm">Junior Front-end Engineer</h2>
                <div class=" text-sm mt-4">
                    <p class=" text-sm mt-4">I took charge for the design and successfull 
                        deployment of econo construction company
                        website. The design was user intuitive and user-friendly. I also ensured
                        it had better seo queries to drive traffic and excellent performance.
                    </p>
                    <p>Technologies: Astro js and Javascript.</p>
                </div>
            </div>

            <div class=" mt-8">
                <span class="text-md font-semibold">County Government of Nyandarua</span>
                <span class=" ml-4 text-neutral-500 text-sm">2022</span>
                <h2 class=" text-sm">Junior ICT Officer</h2>
                <p class=" text-sm mt-4">I assisted the ICT Officer in network maintenance, establishing LAN networks under
                    windows XP, windows 7/8/10 and windows server 2012 Standard Environment.<br>
                    Network troubleshooting creating network users and maintaining operational procedures.
                    Network installation, configuration and termination of RJ45 cables.<br>
                    Hardware and software installations as well as repair and maintenance of computer systems.
                    Troubleshooting and maintenance of unified communication systems.
                    Creationg and restoration of Back-ups.
                </p>
            </div>

            <div class=" mt-20">
                <h2 class="text-md font-bold text-lg">Education</h2>
                    <div class=" mt-4">
                        <span class="text-md">Murang'a University of Techonology</span>
                        <span class=" ml-10 text-neutral-500 text-sm">2019-2023</span>
                        <h2 class=" text-sm">Bachelor's Degree in Software Engineering</h2>
                        <p class=" text-neutral-500 text-sm">Class: Second Class Upper-Division</p>
                    </div>
                    <div class=" mt-4">
                        <span class="text-md">Nyandarua High School</span>
                        <span class=" ml-10 text-neutral-500 text-sm">2015-2018</span>
                        <h2 class=" text-sm">Kenya Certificate for Secondary Education (KCSE)</h2>
                        <p class=" text-neutral-500 text-sm">Grade: 66 points: B(plain)</p>
                    </div>
                    <div class=" mt-4">
                        <span class="text-md">Maryland Junior Academy</span>
                        <span class=" ml-10 text-neutral-500 text-sm">2014</span>
                        <h2 class=" text-sm">Kenya Certificate for Primary Education (KCPE)</h2>
                        <p class=" text-neutral-500 text-sm">Grade: 399 marks: A-(minus)</p>
                    </div>
            </div>

            <div class=" mt-20">
                <h2 class=" text-md font-bold text-lg">Referees</h2>
                
                <div class=" mt-4 text-sm">
                    <h4>Moses Irungu</h4>
                    <h4>Chief ICT Officer, Nyandarua County Government</h4>
                    <h4>0101757882</h4>
                </div>

                <div class=" mt-4 text-sm">
                    <h4>Leah Wangeci Nderitu</h4>
                    <h4>Branch Manager, VIktas Sacco</h4>
                    <h4>0723518257</h4>
                </div>

                <div class=" mt-4 text-sm">
                    <h4>Lewis Wachira</h4>
                    <h4>CEO, Luidigitals</h4>
                    <h4>0723518257</h4>
                </div>

            </div>
        </div>
    </body>
</html>