---
---

<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
        <link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Sacramento&display=swap" rel="stylesheet">
        <title>Louis | CV</title>
	</head>
    <body class=" w-[80%] mx-auto md:max-w-xl my-10 md:mx-auto font-inter">
            <a href="/" class=" cursor-pointer flex items-center gap-2 border border-gray-300 p-2 rounded-lg hover:border-emerald-400">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="18" height="18" fill="rgba(173,184,194,1)"><path d="M18.3362 18.339H15.6707V14.1622C15.6707 13.1662 15.6505 11.8845 14.2817 11.8845C12.892 11.8845 12.6797 12.9683 12.6797 14.0887V18.339H10.0142V9.75H12.5747V10.9207H12.6092C12.967 10.2457 13.837 9.53325 15.1367 9.53325C17.8375 9.53325 18.337 11.3108 18.337 13.6245V18.339H18.3362ZM7.00373 8.57475C6.14573 8.57475 5.45648 7.88025 5.45648 7.026C5.45648 6.1725 6.14648 5.47875 7.00373 5.47875C7.85873 5.47875 8.55173 6.1725 8.55173 7.026C8.55173 7.88025 7.85798 8.57475 7.00373 8.57475ZM8.34023 18.339H5.66723V9.75H8.34023V18.339ZM19.6697 3H4.32923C3.59498 3 3.00098 3.5805 3.00098 4.29675V19.7033C3.00098 20.4202 3.59498 21 4.32923 21H19.6675C20.401 21 21.001 20.4202 21.001 19.7033V4.29675C21.001 3.5805 20.401 3 19.6675 3H19.6697Z"></path></svg>
                    <p>Go Back</p>
                <svg id="icon" class=" ml-auto " xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="18" height="18" fill="rgba(173,184,194,1)"><path d="M16.0037 9.41421L7.39712 18.0208L5.98291 16.6066L14.5895 8H7.00373V6H18.0037V17H16.0037V9.41421Z"></path></svg>
            </a>
        <div class=" mt-12">

                <div class=" text-sm">
                    <h2 class=" text-md font-bold">Louis Wanyika</h2>
                    <p>Front-end developer focused on building products.</p>
                    <p>Contact: 0759397500</p>
                    <p>Email: louisgituhi@gmail.com</p>
                    <span>Kenya</span>
                    <span class=" ml-5">Nyandarua</span>
                    <span class=" ml-5">EAT</span>
                </div>

        </div>

        <div class=" mt-10">
            <h2 class=" text-md font-bold">About</h2>
            <p class=" text-sm mt-4">I mostly work with Javascript,Typescript, React, Astro, Nodejs, Bun, Hono, Express and TailwindCSS
                I have 3 years of experince in web design and development.
            </p>
        </div>

        <div class=" mt-10">
            <h2 class="text-md font-bold">Work Experience</h2>
            <div class=" mt-4">
                <span class="text-md">lui digitals</span>
                <span class=" text-blue-400 bg-blue-100 p-1 rounded-lg text-sm">Remote</span>
                <span class=" ml-4 text-neutral-500 text-sm">2023 - Present</span>
                <h2 class=" text-sm">Junior Front-end Engineer</h2>
                <p class=" text-sm mt-4">I took charge for the design and successfull 
                    deployment of econo construction company
                    website. The design was user intuitive and user-friendly. I also ensured
                    it had better seo queries to drive traffic and excellent performance.
                    Technologies: Astro js and Javascript.
                </p>
            </div>

            <div class=" mt-8">
                <span class="text-md">County Government of Nyandarua</span>
                <span class=" ml-4 text-neutral-500 text-sm">2022</span>
                <h2 class=" text-sm">Junior ICT Officer</h2>
                <p class=" text-sm mt-4">I assisted the ICT Officer in network maintenance, establishing LAN networks under
                    windows XP, windows 7/8/10 and windows server 2012 Standard Environment.<br>
                    Network troubleshooting creating network users and maintaining operational procedures.
                    Network installation, configuration and termination of RJ45 cables.<br>
                    Hardware and software installations as well as repair and maintenance of computer systems.
                    Troubleshooting and maintenance of unified communication systems.
                    Creationg and restoration of Back-ups.
                </p>
            </div>

            <div class=" mt-20">
                <h2 class="text-md font-bold">Education</h2>
                    <div class=" mt-4">
                        <span class="text-md">Murang'a University of Techonology</span>
                        <span class=" ml-10 text-neutral-500 text-sm">2019-2023</span>
                        <h2 class=" text-sm">Bachelor's Degree in Software Engineering</h2>
                        <p class=" text-neutral-500 text-sm">Class: Second Class Upper-Division</p>
                    </div>
                    <div class=" mt-4">
                        <span class="text-md">Nyandarua High School</span>
                        <span class=" ml-10 text-neutral-500 text-sm">2015-2018</span>
                        <h2 class=" text-sm">Kenya Certificate for Secondary Education (KCSE)</h2>
                        <p class=" text-neutral-500 text-sm">Grade: 66 points: B(plain)</p>
                    </div>
                    <div class=" mt-4">
                        <span class="text-md">Maryland Junior Academy</span>
                        <span class=" ml-10 text-neutral-500 text-sm">2014</span>
                        <h2 class=" text-sm">Kenya Certificate for Primary Education (KCPE)</h2>
                        <p class=" text-neutral-500 text-sm">Grade: 399 marks: A-(minus)</p>
                    </div>
            </div>

            <div class=" mt-20">
                <h2 class=" text-md font-bold">Referees</h2>
                
                <div class=" mt-4 text-sm">
                    <h4>Moses Irungu</h4>
                    <h4>Chief ICT Officer, Nyandarua County Government</h4>
                    <h4>0101757882</h4>
                </div>

                <div class=" mt-4 text-sm">
                    <h4>Leah Wangeci Nderitu</h4>
                    <h4>Branch Manager, VIktas Sacco</h4>
                    <h4>0723518257</h4>
                </div>

                <div class=" mt-4 text-sm">
                    <h4>Lewis Wachira</h4>
                    <h4>CEO, Luidigitals</h4>
                    <h4>0723518257</h4>
                </div>

            </div>
        </div>
    </body>
</html>