---
const date = new Date().getFullYear();
---
<section class=" text-center mt-10">
    <h4>Thanks for visiting :)</h4>
    <span class=" text-sm">Stay frosty</span>

    <div class=" mt-10">
        <p class=" font-sacramento text-xl">Louis Wanyika Gituhi</p>
    </div>

    <div class=" mt-10 text-sm">
        <p>&copy {date} Designed and Made by Louis</p>
        <p>All rights reserved</p>
    </div>
</section>