---
import { Image } from "astro:assets"
import louis from "../images/louis.svg"
---
<header class="">
    <nav class=" flex items-center justify-between">
        <Image class=" p-1 rounded-full border border-black" src={louis} width={45} height={45} alt="louis image" />
        <div class=" flex items-center gap-2">
            <span class=" size-2 bg-[#50ff76] rounded-full"></span>
            <p>Open to work</p>
        </div>
    </nav>
</header>