---

---
<section class=" mt-10">
    <h4 class=" text-md">Lets connect</h4>
    <p class="text-sm">Wanna build something cool together or just say hi?</p>

    <div class="border border-gray-300 w-full leading-none gap-2 p-2 mt-4 text-sm rounded-lg hover:border-emerald-200 cursor-pointer">
        <a href="mailto:louisgituhi@gmail.com">
            <h4 class="">Send an email</h4>
                <span class=" flex items-center text-zinc-600">I'll get back to you asap
            <svg class=" ml-auto" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" fill="rgba(173,184,194,1)"><path d="M16.0037 9.41421L7.39712 18.0208L5.98291 16.6066L14.5895 8H7.00373V6H18.0037V17H16.0037V9.41421Z"></path></svg>
        </span>
        </a>
    </div>

    <div class="border border-gray-300 w-full leading-none gap-2 p-2 mt-4 text-sm rounded-lg hover:border-emerald-200 cursor-pointer">
        <a href="mailto:louisgituhi@gmail.com">
            <h4 class="">To my blog</h4>
                <span class=" flex items-center text-zinc-600">A tiny blog where I write stuff about programming and life in general
            <svg class=" ml-auto" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" fill="rgba(173,184,194,1)"><path d="M16.0037 9.41421L7.39712 18.0208L5.98291 16.6066L14.5895 8H7.00373V6H18.0037V17H16.0037V9.41421Z"></path></svg>
        </span>
        </a>
    </div>

    <div class=" flex items-center gap-2">

        <div class="border border-gray-300 w-full leading-none gap-2 p-2 mt-4 text-sm rounded-lg hover:border-emerald-200 cursor-pointer">
            <a href="https://github.com/louisgituhi">
                <h4 class="">Github</h4>
                <span class=" flex items-center text-zinc-600">Check out my profile
                    <svg class=" ml-auto" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" fill="rgba(173,184,194,1)"><path d="M16.0037 9.41421L7.39712 18.0208L5.98291 16.6066L14.5895 8H7.00373V6H18.0037V17H16.0037V9.41421Z"></path></svg>
                </span>
            </a>
        </div>

        <div class="border border-gray-300 w-full leading-none gap-2 p-2 mt-4 text-sm rounded-lg hover:border-emerald-200 cursor-pointer">
            <a href="/cv/">
                <h4 class="">My CV</h4>
                <span class=" flex items-center text-zinc-600">Have a look!
                    <svg class=" ml-auto" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" fill="rgba(173,184,194,1)"><path d="M16.0037 9.41421L7.39712 18.0208L5.98291 16.6066L14.5895 8H7.00373V6H18.0037V17H16.0037V9.41421Z"></path></svg>
                </span>
            </a>
        </div>

    </div>

    <div class="border border-gray-300 w-full leading-none gap-2 p-2 mt-4 text-sm rounded-lg hover:border-emerald-200 cursor-pointer">
        <a href="https://linkedin.com/in/louis-wanyika-31558b252">
            <h4 class="">LinkedIn</h4>
            <span class=" flex items-center text-zinc-600">Lets connect
                <svg class=" ml-auto" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" fill="rgba(173,184,194,1)"><path d="M16.0037 9.41421L7.39712 18.0208L5.98291 16.6066L14.5895 8H7.00373V6H18.0037V17H16.0037V9.41421Z"></path></svg>
            </span>
        </a>
    </div>

</section>